/* CSS BY Azriele Tingle */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57;
    --Pink: #D9526F;
    --Dark-gray: #1E1E1E;
    --White: #ffffff;

}

/* GLOBAL STYLES (mobile first/small) */
body{
    font-family: 'Inter';
	font-size: 1em;
	background-color: #6B8FE7;
	color: #ffffff;
	justify-content: center;
}

main, header, nav, footer{
	width: 100%;
	max-width: 420px;
	margin: 0 auto;
}

h1, h2{
	font-family: 'kavoon';
}

h1{
	font-size: 3em;
}

h2{
	font-size: 2em;
}

h3{
	font-size: 1.5em;
}

h4{
	font-size: 1.15em;
	color: #484FB7;
	font-weight: bold;
}

nav h2{
	font-size: 1.5em;
	font-family: 'Inter';
	font-weight: bold;
	font-style: italic;
	text-transform: uppercase;
}

header{
	background: #484FB7;
	text-align: center;
	padding: 1.5em 1em;
}

header p{
	font-style: italic;
}

nav{
	background: #E9BB57;
	text-align: center;
	padding: 1em;
	color: #1E1E1E;
}

nav a{
	display: block;
	background: #ffffff;
	color: #484FB7;
	padding: 0.75em;
	margin: 1em;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

main{
	background: #484FB7;
	padding: 1em;

}

main h3{
	color: #E9BB57;
	font-weight: bold;
}

article{
	display: block;
	background: #ffffff;
	border-radius: 5px;
	padding: 1em;
	margin: 1em;
}

article img{
	width: 100px;
	height: 100px;
}

main p{
	color: #1E1E1E;
}

section.why-choose-us{
	background: #D9526F;
	margin: 1em;
	padding: 1em;
}

section.why-choose-us ul{
	display: grid;
	grid-template-columns: 1fr 1fr;

}

section ul li{
	border-radius: 10px;
	color: #1E1E1E;
	font-weight: bold;
	padding: 1em;
	margin: 1em;
	text-align: center;
}

section ul li:nth-child(1){
	background: #4CA7C0;
}
section ul li:nth-child(2){
	background: #6B8FE7;
}
section ul li:nth-child(3){
	background: #E9BB57;
}
section ul li:nth-child(4){
	background: #ffffff;
}

table{
	max-width: 225px;
	margin: 1em auto;
	background: #ffffff;
	color: #1E1E1E;
	
}

th{
	background: #E9BB57;
	color: #1E1E1E;
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}

td{
	padding: 1em;
	border: 1.5px solid #E9BB57;
}

.cta{
	background: #D9526F;
	margin-top: -10px;
	text-align: center;
	padding: 1em;
}

.cta p{
	color: #ffffff;
	text-align: left;
	margin-top: 10px;
}

.cta button{
	background: #ffffff;
	color: #1E1E1E;
	font-weight: bold;
	padding: 1em 5em;
	margin-top: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	box-shadow: 2px 2px #1E1E1E;
}

footer{
	background: #484FB7;
	color: #ffffff;
	text-align: center;
	padding: 1em;
}

footer a{
	color: #ffffff;
}